.container{
    display: flex;
   align-items: center;
    flex-direction: column;
}
h1{
    size: 3rem;
   color: rgb(15, 1, 1) ;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-row {
    display: flex;
    flex-wrap: wrap; /* wrap if too many images */
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  